.square {
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    transition-duration: 500ms;
}

.square:hover {
    animation-name: myAnimation;
    animation-duration: 5s;
}

@keyframes myAnimation {
    from { 
        background-color: #fff;
    }

    50% {
        background-color: rgb(255, 204, 0);
    }

    to {
        background-color: brown;
    }
}

.t-style, table * {
    border: 1px solid black;
    width: 800px;
    border-collapse: collapse;
}

.example {
    font-size: 30px;
    border: 1px solid black;
    width: 100px;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column {
    column-count: 3;
    column-rule: 1px solid brown;
}