.square {
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    transition-duration: 500ms;
}

.square:hover {
background-color: brown;
animation: myAnimation;

}

@keyframes myAnimation {
    from{
        background-color: #fff;
    }

    50% {
        background-color: rgb(255, 204, 0);
    }

    to{
        background-color: brown;
    }
}